<html>

<head>
	<title>MIR24 photobank</title>
  <link href="/static/styles.css" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div id='root'>
	</div>
	<span id="elasticHost" class="hidden"><%= elasticHost %></span>
	<span class="gitInfo"><%= gitInfo %></span>
	<script src="/static/bundle.js"></script>

</body>

</html>
