<html>

<head>
	<title>MIR24 photobank</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
</head>

<body>
	<div id='root'>
	</div>
	<div id="config" class="hidden">
		<span id="elasticHost"><%= htmlWebpackPlugin.options.elasticHost %></span>
		<span id="photobankBackendHost"><%= htmlWebpackPlugin.options.photobankBackendHost %></span>
	</div>
	<span class="gitInfo"><%= htmlWebpackPlugin.options.gitInfo %></span>
</body>

</html>
